<div class="row" ng-hide="registeredService._id">
  <div class="col-md-6">
      <h2>{{header}}</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>Service</label>
      <input class="form-control" readonly  type="text" value="{{registeredService.service}}">
    </p>
    <p>
      <label>Comment</label>
      <input class="form-control" readonly  type="text" value="{{registeredService.comment}}" >
    </p>
    <p>
      <label>Room</label>
      <input class="form-control" readonly  type="text" value="{{registeredService.room}}" >
    </p>
    <p>
      <label>Service Attendant</label>
      <input  class="form-control" type="text" ng-model="registeredService.serveredBy" required>
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="markComplete(registeredService)">Complete</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>
