<div class = "row">
  <div class="col-md-11">
    <h2>
      Registered Services
    </h2>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-1">
  </div>
</div>
<div class="container">
  <table class="table table-hover">
    <thead>
      <th ng-repeat= "header in headers">
        <a> {{headers[$index]}} </a>
    </th>
    </thead>
    <tbody>
      <tr ng-repeat="registeredService in registeredServices | orderBy:'time'" style="cursor:pointer">
        <td>
          {{ registeredService.service }}
        </td>
        <td>
           {{ registeredService.comment }}
        </td>
        <td>
           {{ registeredService.room }}
        </td>
        <td>
           <a class="btn btn-info" href="#/complete/{{registeredService._id}}">Complete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
